<meta charset="UTF-8" />
<script src="https://unpkg.com/vue"></script>

<div id="app">
  <ul>
    <li v-for="cor in cores">{{ cor }}</li>
    <li v-for="pessoa in pessoas">{{ pessoa.nome }} tem {{ pessoa.idade }} de idade, e pesa {{ pessoa.peso }}</li>
  </ul>
</div>

<script>
  Vue.createApp({
    data() {
      return {
        cores: ["vermelho", "verde", "amarelo", "azul"],
        pessoas: [
          { nome: "Ana", idade: 26, peso: 59 },
          { nome: "Guilherme", idade: 22, peso: 89 },
        ],
      };
    },
  }).mount("#app");
</script>
